@font-face {
  font-family: "RobotoCondensed";
  src: url("fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("fonts/RobotoCondensed-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  font-family: "RobotoCondensed", sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  background-color: #212121;
}

.navbar-item a {
  text-decoration: none;
  color: white;
}

.navbar-item a:hover,
.navbar-item a:active {
  color: lightgray;
}

.navbar-item {
  margin: 0 auto;
}

#start {
  background-color: #424242;
  margin-bottom: 15px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #424242;
  color: white;
  font-family: "RobotoCondensed", sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #212121;
  color: lightgray;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1em;
  margin-bottom: 0;
}

.contact p:first-of-type {
  margin-top: 5px;
}

.contact p:last-of-type {
  margin-bottom: 7px;
}

footer a {
  text-decoration: none;
  color: lightgray;
}

footer a:hover,
footer a:active {
  color: white;
}

.intro-section {
  background-color: #424242;
  color: white;
  padding: 50% 0;
}

.intro-section img {
  width: 290px;
  height: 200px;
  opacity: 70%;
  margin-bottom: 35px;
  border-radius: 5px;
  box-shadow: 0 4px 8px darkgray;
}

.social-icons {
  display: flex;
  flex-wrap: nowrap;
}

.social-icons img {
  height: 35px;
  width: 35px;
  padding-right: 7px;
  border-radius: 5px;
}

.social-icons a:hover,
.social-icons a:active {
  opacity: 60%;
}

.about-section {
  background-color: #555555;
  padding: 50% 0;
}

.about-section p {
  padding: 0 20px 0 20px;
}

.about-section img {
  border-radius: 200px;
  height: 30%;
  width: 30%;
  margin-bottom: 20px;
  opacity: 85%;
}

.skills-grid-item img {
  height: 65px;
  width: 65px;
}

.skills-grid-item h3 {
  padding-bottom: 25px;
}

.skills-grid-item p {
  padding-bottom: 45px;
}


.skills-container {
  display: flex;
  flex-direction: column;
  padding: 20% 20px 0 20px;
}

.skills-container h1 {
  padding-bottom: 50px;
}

@media only screen and (min-width: 480px) and (max-width: 960px) {

  * {
    font-size: 22px;
  }

  .intro-section {
    padding: 45% 0;
  }

.intro-section img {
  width: 480px;
  height: 360px;
}

  .about-section {
    padding: 45% 0;
  }

  .about-section img {
    height: 20%;
    width: 20%;
  }

  .skill-container {
    padding: 45% 0;
  }

  .skills-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills-grid-item {
    width: 50%;
    padding: 15px;
  }
}

@media only screen and (min-width: 961px) {
  main {
    font-size: 27px;
  }

  .navbar {
    font-size: 22px;
  }

  footer {
    font-size: 22px;
  }

  .intro-section {
    padding: 8% 0;
  }

  .intro-section img {
    width: 640px;
    height: 480px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 20% 0;
  }

  .about-flex-item {
    width: 50%;
  }

  .about-section img {
    height: 20%;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px darkgray;
  }

  .skills-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skills-grid-item {
    width: 25%;
    padding: 30px;
  }

  .skills-grid-item h3 {
    font-weight: 700;
  }
}
